<div class="dodajNowyPrzedmiotWrapper">
<div class="formWrapper d-flex">
  <div class="d-flex flex-column">
    <label for="typ">typ</label>
    <input type="text"
           name="nazwaPrzedmiotu"
           id="typ"
           placeholder="Nazwa przedmiotu">
  </div>
  <div class="d-flex flex-column">
    <label for="nazwaPrzedmiotu">nazwa przedmiotu</label>
    <input type="text"
           name="nazwaPrzedmiotu"
           id="nazwaPrzedmiotu"
           placeholder="Nazwa przedmiotu">
  </div>
</div>
  <div class="listaPrzedmiotowWrapper">

  </div>
</div>
